.DS_Store
*.exe
*.exe~
*.syso
*.p8
*.p12
dist/
vendor

wx_video_download*
wx_channel*

config.yaml
global.js
downloads
temp_sunnynet

node_modules
docs/.vitepress/cache
docs/.vitepress/dist
gopeed.db
/*.json
*.log

.env
deploy.sh
