.DS_Store
*.exe
*.exe~
*.syso
*.p8
*.p12
dist/
vendor

wx_video_download*
wx_channel*
scraper_examples
.asset-sync-store/
.asset-sync.local.yaml
workdir
cache

scraper_examples
cache
workdir

config.yaml
global.js
downloads
temp_sunnynet

node_modules
docs/.vitepress/cache
docs/.vitepress/dist
gopeed.db
/*.json
!.asset-sync.lock.json
*.log

.env
deploy.sh
